.single-post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70vw;
}

.post-meta-container {
  display: flex;
  flex-direction: row;
  

}

.author-name {
  text-align: left;
  color: gray;
  align-items: center;
}

.post-meta {
  display: flex;
  align-items: center;
  width: 70vw;
}